output/*/build
output/*/.config.old
output/*/host
output/*/images
output/*/legal-info
output/*/staging
output/*/target
output/artifact
output/images
output/mscc-brsdk-arm64-*
output/mscc-brsdk-logs-*
output/*/*.tmp
output/*/*.log
output/*/*.menus
output/*/*.paths
*.bin
*.log
*.fip
*.crt

